.card {
  border-radius: .5rem!important;
}
.validFeedback{
  border-radius: 5px;
  padding: 0 1rem;
}
.card-header {
  padding: 0;
}

.container {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

button[aria-expanded=true] .fa-chevron-right {
  display: none;
}

button[aria-expanded=false] .fa-chevron-down {
  display: none;
}

.btn-link:focus,.btn-link:hover {
  color: inherit;
  text-decoration: none;
}

textarea {
  display: block;
  font-size: 87.5%;
  color: #212529;
  margin-top: 0!important;
  margin-bottom: 1rem;
  overflow: auto;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  white-space: pre;
  margin: 1em 0;
  margin-top: 0;
  height: 300px;
  border: none;
  overflow: auto;
  width: 100%;
  margin-bottom: 0;
}

body,html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.form-control:disabled,.form-control[readonly] {
  background-color: rgba(0,0,0,.05);
  color: #424242;
  opacity: 1;
}

input[readOnly] {
  background-color: #fff!important;
  cursor: default;
}

h1 {
  text-align: center;
}

.color-green {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  font-weight: 500;
}

.color-success {
  background-color: #28a745;
  color: #fff;
  font-weight: 500;
}

.color-grey {
  background-color: #f1f1f1;
  border-color: #eaeaea;
  color: #989898;
  font-weight: 500;
}

.color-red {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  font-weight: 500;
}

.color-yellow {
  background-color: #ffe7be;
  border-color: #eea236;
  color: #bf7917;
  font-weight: 500;
}
